h3 {
    margin: 15px;
    margin-left: 20px;
}

.Pict1 {
    margin: 15px;
}

.Cont {
    margin-left: 5px;
}

@keyframes control_spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.svg1 {
    background: linear-gradient(blue, pink);

}

.vent-control {
    position: absolute;

    width: 41px;
    transform: rotate(-8deg);
    border: solid rgba(17, 91, 122, 0.35) 3px;
    border-radius: 6px;
    opacity: 0.6;
}

.vent-control-active {
    border-color: green;
    opacity: 1;
}

.vent-control-active .vent-control__vent-body {
    animation: 2s linear 0s infinite normal none running control_spin;
}

.dot {
    background: #363C49;
    border-radius: 12px;
    position: absolute;
    width: 17px;
    height: 16px
}
.dot-active{
    background: #336120;

}
