h3{
    margin:  15px;
    margin-left:  20px;
}
.Pict1 {
margin:  15px;
}
.Cont{
margin-left: 5px;
}
@keyframes control_spin{
    from{
        transform: rotate(5deg);
    }
    10%{
        transform: rotate(36deg);
    }
    20%{
        transform: rotate(72deg);
    }
    30%{
        transform: rotate(108deg);
    }

    40%{
        transform: rotate(144deg);
    }
    50%{
        transform: rotate(180deg);
    }
    60%{
        transform: rotate(216deg);
    }
    70%{
        transform: rotate(252deg);
    }
    80%{
        transform: rotate(288deg);
    }
    90%{
        transform: rotate(324deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.svg1{
    background: linear-gradient(blue, pink);

}